<!DOCTYPE html>
<html>
  <head>
    <title>MingTitles</title>
    <%= csrf_meta_tags %>
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" /> -->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-ng-app="titlesApp" ng-cloak>
    <%= user_signed_in?%>
    <%= user_session %>
    <% if current_user %>
      <%= "current_user: " + current_user.user_handle %>
      <%= current_user.is_admin %>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>

</html>
