<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container" ng-init="init('<% if user_signed_in? %>
    <%= {"email": current_user.email } %>
  <% else %>
    <%= { "logged_in": false }%>
  <%end%>')" ng-controller="mainController">
  <h2> {{current_user}} </h2>

{{title}}

</div>
