<div class="container-fluid">
 <div class="row">
   <div class="col-md-6 sponsors" style="text-align:center;">
      <p><strong>A collaborative project sponsored by</strong><br><br>
        <a target="_blank" href="http://www.eastasianlib.org/"><%= image_tag("CoEAL.jpg", alt: "Council on East Asian Libraries") %></a>&nbsp;&nbsp;
        <a target="_blank" href="https://mellon.org/"><%= image_tag("mellon.svg", alt: "The Andrew W. Mellon Foundation") %></a>&nbsp;&nbsp;&nbsp;&nbsp;
		      <a target="_blank" href="https://geissfoundation.us/"><%= image_tag("geiss-hsu-foundation.jpg", alt: "James P. Geiss and Margaret Y. Hsu Foundation") %></a>
      </p>
    </div>
    <div class="col-md-6 contributors" style="text-align:center;">
      <p><strong>With contributions from</strong><br><br>
        <a target="_blank" href="//www.lib.uci.edu"><%= image_tag("ucilib.png", alt: "UCI Libraries") %></a>
        &nbsp;&nbsp;
        <a target="_blank" href="//library.stanford.edu/"><%= image_tag("stanford.jpg", alt: "Stanford University Libraries") %></a>
        &nbsp;&nbsp;
        <a target="_blank" href="//library.harvard.edu/"><%= image_tag("harvard.jpg", alt: "Harvard Libraries") %></a>
        &nbsp;&nbsp;
        <a target="_blank" href="//www.lib.berkeley.edu/"><%= image_tag("berkeley.png", alt: "UC Berkeley Libraries") %></a>
      </p>
    </div>
  </div>
</div>
